<div class="footerVodafone footer"> 
    <div class="container"> 
        <div class="row footer"> 
            <div class="col-md col-12">
                <div id="footerLinks" class="row"> 
                    <div class="card col-md-3"> 
                        <div class="card-header11" id="connectWithUS"> 
                            <img class="lazy loaded" src="../../assets/img/homespyder/Vi-logo.svg" title="Vi™" alt="Vi™" data-ll-status="loaded"> 
                            <h5 class="mb-0"> 
                                <p>Vodafone Idea Limited</p> 
                                <p class="history">Vodafone Idea Limited is an Aditya Birla Group and Vodafone Group partnership. The Company provides pan India Voice and Data services across 2G, 3G and 4G platform. 
                                    <span class="close-collapse"></span>
                                </p> 
                            </h5> 
                        </div> 
                        <div id="footer_Connect" class="collapse show" aria-labelledby="connectWithUS" data-parent="#footerLinks"> 
                            <div class="card-body"> 
                                <div class="d-flex flex-wrap"> 
                                    <div class="col"> 
                                        <a target="_blank" class="footerSociallbl" href="https://www.facebook.com/ViOfficialFanWorld/" data-social="Facebook" rel="nofollow"> 
                                            <img class="lazy loaded" src="../../assets/img/homespyder/group-66 (1).svg" title="Facebook" alt="Facebook" data-ll-status="loaded"> 
                                        </a> 
                                    </div> 
                                    <div class="col"> 
                                        <a target="_blank" class="footerSociallbl" href="https://instagram.com/viofficialfanworld" data-social="Instagram" rel="nofollow"> 
                                            <img class="lazy loaded" src="../../assets/img/homespyder/group-75 (1).svg" title="Instagram" alt="Instagram" data-ll-status="loaded"> 
                                        </a> 
                                    </div> 
                                    <div class="col"> 
                                        <a target="_blank" class="footerSociallbl" href="https://twitter.com/ViCustomerCare" data-social="Twitter" rel="nofollow"> 
                                            <img class="lazy loaded" src="../../assets/img/homespyder/group-76 (1).svg" title="Twitter" alt="Twitter" data-ll-status="loaded"> 
                                        </a> 
                                    </div> 
                                    <div class="col"> 
                                        <a target="_blank" class="footerSociallbl" href="https://www.youtube.com/channel/UCHLTL1DEP_zelqLvUlYaV8Q" data-social="Youtube" rel="nofollow"> 
                                            <img class="lazy loaded" src="../../assets/img/homespyder/youtube.svg" title="Youtube" alt="Youtube" data-ll-status="loaded"> 
                                        </a> 
                                    </div> 
                                    <div class="col"> 
                                        <a target="_blank" class="footerSociallbl" href="https://www.linkedin.com/company/vodafone-idea-limited" data-social="LinkedIn" rel="nofollow"> 
                                            <img class="lazy loaded" src="../../assets/img/homespyder/group-59 (1).svg" title="LinkedIn" alt="LinkedIn" data-ll-status="loaded"> 
                                        </a> 
                                    </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div>
                    <!-- <div class="card col-12 col-lg"> 
                        <div class="card-header" id="quickLinks"> 
                            <h5 class="mb-0"> 
                                <button class="btn btn-link" data-toggle="collapse" data-target="#footer_QuickLinks" aria-expanded="true" aria-controls="collapseOne"> 
                                    <p>about Vi<sup>TM</sup></p> 
                                </button> 
                                <span class="close-collapse"></span> 
                            </h5> 
                        </div> 
                        <div id="footer_QuickLinks" class="collapse show" aria-labelledby="quickLinks" data-parent="#footerLinks"> 
                            <div class="card-body"> 
                                <ul> 
                                    <dd> 
                                        <a class="" title="About Us" href="/about-us/home">About Us</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Investor Relations" href="https://www.vodafoneidea.com/investors/listing-information">Investor Relations</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Vi™ Business" href="https://www.myvi.in/business">Vi™ Business</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Career" href="https://www.vodafoneidea.com/careers">Career</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="GIGAnet" href="/vi-4g">GIGAnet</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Vodafone Idea Foundation" href="/about-us/Vodafoneidea-foundation">Vodafone Idea Foundation</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="News &amp; Media" href="/media/press-releases">News &amp; Media</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Vodafone Idea Corp Website" href="https://www.vodafoneidea.com/">Vodafone Idea Corp Website</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Vodafone Group" href="https://www.vodafone.com/">Vodafone Group</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Aditya Birla Group" href="https://adityabirla.com/home">Aditya Birla Group</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Vi™ VoLTE" href="/vi-volte-4g-hd-voice-calls">Vi<sup>TM</sup> VoLTE</a> 
                                    </dd> 
                                    <dd> 
                                        <a class="" title="Blog" href="/blog">Blog</a> 
                                    </dd> 
                                </ul> 
                            </div> 
                        </div> 
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
                    
            