<section class="vi_simd aos-init mt-5">
    <div class="container">
      <div class="vi_simdsection">
        <div class="row">
          <div class="col-md-12">
            <div class="vi_simdbanner d-flex flex-row justify-content-around">
              <div>
                <h2 class="vi_simdhead">Free SIM delivery at doorstep</h2>
                <p class="vi_simddesc">Choose VIP number online<br>Also get 150 GB data extra</p>
                <div class="ordernowBtn">
                  <a class="miBlackbtn" id="ordernowctalink" [routerLink]="['new-connection','prepaid']">order SIM online
                  </a>
                </div>
              </div>
              <img class="vi_simdimg lazy loaded"
                src="../../../../assets/img/StaticPages/mobileimages/sim-deliveryupdateddesktop.svg" alt="Postpaid"
                data-ll-status="loaded">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>