<div class="mt-5 py-5">
    <div class="container">
        <div class="row">
          <!-- <div class="d-flex flex-row align-items-start"> -->
          <div class="img_wrapper col-md-2 col-sm-4 col-xs-6 text-center">
            <a [routerLink]="['new-connection','postpaid']">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/StaticPages/mobileimages/buy-postpaid-sim.svg"
                  alt="Buy Vi Postpaid SIM" data-ll-status="loaded">
              </div>
            </a>
            <a [routerLink]="['new-connection','postpaid']" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>Buy Postpaid</h5>
              </div>
            </a>
          </div>
          <div class="img_wrapper col-md-2 col-sm-4 col-xs-6 text-center">
            <a [routerLink]="['new-connection','prepaid']" class="text-decoration-none">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/StaticPages/mobileimages/buy-prepaid-sim.svg"
                  alt="Buy Vi Postpaid SIM" data-ll-status="loaded">
              </div>
            </a>
            <a [routerLink]="['new-connection','prepaid']" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>Buy Prepaid</h5>
              </div>
            </a>
          </div>
          <div class="img_wrapper col-md-2 col-sm-4  col-xs-6 text-center">
            <a [routerLink]="['new-connection','vip']" class="text-decoration-none">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/homespyder/redx.svg" alt="Buy Vi Postpaid SIM"
                  data-ll-status="loaded">
              </div>
            </a>
            <a [routerLink]="['new-connection','vip']" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>Get VIP Number</h5>
              </div>
            </a>
          </div>
          <div class="img_wrapper col-md-2 col-sm-4 col-xs-6 text-center">
            <a [routerLink]="['new-connection','port']" class="text-decoration-none">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/homespyder/port-to-vi1.svg" alt="Buy Vi Postpaid SIM"
                  data-ll-status="loaded">
              </div>
            </a>
            <a [routerLink]="['new-connection','port']" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>Port to Vi</h5>
              </div>
            </a>
          </div>
          <div class="img_wrapper col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="#" class="text-decoration-none">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/StaticPages/mobileimages/ir.svg" alt="Buy Vi Postpaid SIM"
                  data-ll-status="loaded">
              </div>
            </a>
            <a href="" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>International Roaming</h5>
              </div>
            </a>
          </div>
          <div class="img_wrapper col-md-2 col-sm-4 col-xs-6 text-center">
            <a href="#" class="text-decoration-none">
              <div class="quicklinkimg justify-content-center mb-2">
                <img class="lazy loaded" src="./assets/img/StaticPages/mobileimages/support.svg" alt="Buy Vi Postpaid SIM"
                  data-ll-status="loaded">
              </div>
            </a>
            <a href="" class="text-decoration-none">
              <div class="quicklinktext text-center text-dark">
                <h5>Help & Support</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
</div>